.top-bar {
    height: 150px;
    background-color: antiquewhite;
    color: darkgray;
    padding: 5%;
}
.btn-shape {
    margin: 0.5%;
    background-color: darksalmon;
    border-style: none;
}